body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
button {
  margin:0 20px;
}
.color-buttons button {
  margin: 20px;
}
.container {
  width: 50%;
  display: block;
  margin: 30px auto;
  text-align: left;
}
span {
  display: inline-block;
  width: 80%;
}
.yellow {
  background: yellow;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.answer {
  background: lightgrey;
}
input {
  width: 80%;
}
.done {
  text-decoration: line-through;
}
